
/* 
	STYLE.CSS:
	One stylesheet to rule them all.
	
	selector { property:value }
	
*/


/* -------  General Styles ------- */

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #f5f5f5;
	background-image:url(images/backgrounds/intersection.png);
}

header {
	height: 200px;
	background-color: #4f529a;
}

.logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 70px;
  color: #c5c0b8;
  text-align: center;
  letter-spacing: -3;
  margin: 0;
  padding: 20px 0 0 0;
}

header h2 {
	font-family: 'Verdana', serif;
	color: #f5f5f5;
	margin: 0px;
	font-size: 26px;
  style: bold;
	text-align: center;
}

footer {
	background-color: #4f529a;

}

section {
	padding: 0 25%;
  margin: 80px 0;
}

/* -------  Type ------- */
h1 {
  font-family: 'Verdana', sans-serif;
	color: #40E0D0;
  text-align: left;
  style: bold;
  font-weight: 500;
  font-size: 32px; 
}


h2, h3 {
  font-family: 'Verdana', sans-serif;
	color: #40E0D0;
  text-align: center;
  style: bold;
  font-weight: 500;
}

h2 { font-size: 26px; }
h3 { font-size: 18px; }

p, li {
 font-family: 'Verdana', sans-serif;
 line-height: 1.5em;
 margin-bottom: 0;
}

a {
	font-weight: 700;
	text-decoration: none;	
}
a:link { color: #48D1CC; }
a:visited { color: #00CED1; }
a:hover { color: #c5c0b8; }
a:active { color: #AFEEEE; }
a:hover {
	text-decoration: underline;	
}

em {
  font-weight: bold;
  font-style: normal;
}

footer p {
	color: #fff;	
	text-align: center;
  padding: 30px;
  margin: 0;
}

/* -------  Elements ------- */

img, iframe { 
  width: 100%;	
  border-radius: 50px;
  border: 3px solid #f5f5f5;
} 

/* -------  Modifier styles ------- */

.border-top {
  padding-top: 60px;
  border-top: 3px dotted #48D1CC;
}